# {{ ansible_managed }}

user "fastd";
group "fastd";

log to syslog level warn;
# hide ip addresses yes;
status socket "/run/fastd/vpn-{{ hoods[item[0].key]['sname'] }}{{ item[1] }}.sock";

interface "vpn-{{ hoods[item[0].key]['sname'] }}{{ item[1] }}";

method "null";
method "salsa2012+umac";

# secure handshakes yes;
mode tap;

bind {{ hoods[item[0].key]['fastd_bind'] }}: {% if gateways[unit_id].type == 'gwa' %}10050{% else %}{{ (hoods[item[0].key]['fastd_port']|int + item[1]|int)|string }}{% endif %};

include "secret.conf";

mtu {{ mtu }};

{% if hoods[item[0].key].fastd_p_lim|int > -1 %}
{% if item[1]|int == 0 %}
	peer limit {{ (hoods[item[0].key].fastd_p_lim|int - 10)|string }};
{% elif item[1]|int == (hoods[item[0].key].fastd_inst|int - 1) %}   
	peer limit {{ (hoods[item[0].key].fastd_p_lim|int + 10)|string }};
{% else %}
	peer limit {{ hoods[item[0].key].fastd_p_lim|string }};
{% endif %}
{% endif %}

# include peers
peer group "nodes" {
	include peers from "peers";
}

# include backbone
{% if item[1]|int == (hoods[item[0].key].fastd_inst|int -1) %}
peer group "backbone" {
        peer limit 5;
        include peers from "backbone";
}
{% endif %}


on up "

	ip link set dev $INTERFACE down
{% if unit_type == "gateway" %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_id }}:{{ (item[0].value.cnt|int * 10 + item[1]|int)|string }}
{% elif unit_type == "collector" %}
{% if item[0].value.cnt|int < 10 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:{{ (item[0].value.cnt|int * 10 + item[1]|int)|string }}
{% elif item[0].value.cnt|int == 10 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:a{{ (item[1]|int)|string }}
{% elif item[0].value.cnt|int == 11 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:b{{ (item[1]|int)|string }}
{% elif item[0].value.cnt|int == 12 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:c{{ (item[1]|int)|string }}
{% elif item[0].value.cnt|int == 13 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:d{{ (item[1]|int)|string }}
{% elif item[0].value.cnt|int == 14 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:e{{ (item[1]|int)|string }}
{% elif item[0].value.cnt|int == 15 %}
	ip link set dev $INTERFACE address {{ sites[hoods[item[0].key].site].hwadr_prefix }}{{ unit_hwext }}:f{{ (item[1]|int)|string }}
{% endif %}
{% endif %}
	ip link set dev $INTERFACE up
	ifup bat-{{ hoods[item[0].key]['sname'] }}
{% if unit_type == "gateway" %}
	/bin/sh /etc/fastd/iptables_{{ hoods[item[0].key].site }}.sh
{% elif unit_type == "collector" %}
	/bin/sh /etc/fastd/iptables_coll.sh
{% endif %}

";

on down "
	ifdown bat-{{ hoods[item[0].key]['sname'] }}
";

on verify "true";





