# {{ ansible_managed }}


# Zweite Schnittstelle für Ausleitung falls anders als die Erste
{% if gateways[unit_id].div_if != gateways[unit_id].if %}
auto {{ gateways[unit_id].div_if }}
iface {{ gateways[unit_id].div_if }} inet static
	address {{ gateways[unit_id].div_ipv4 }}/32
        netmask 255.255.255.255
        post-up ip route add {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }}
        post-up ip route add {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }} table 19
        post-up ip route add default via {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }} table 19
        pre-down ip route del default via {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }} table 19
        pre-down ip route del {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }} table 19
        pre-down ip route del {{ gateways[unit_id].div_gwv4 }} dev {{ gateways[unit_id].div_if }}
{% endif %}

{% for item in gateways[unit_id].domains %}
auto br-{{ hoods[item].sname }} 
iface br-{{ hoods[item].sname }} inet static
	bridge_ports	bat-{{ hoods[item].sname }}
	address		{{ gateways[unit_id].domains[item].bat_ipv4 | ipaddr('address')}}
	netmask		{{ gateways[unit_id].domains[item].bat_ipv4 | ipaddr('netmask')}}

iface br-{{ hoods[item].sname }} inet6 static
{% if hoods[item].sname == 'ffnh' %}
	address		{{ gateways[unit_id].domains[item].bat_ipv6_l }}
{% else %}
	address		{{ gateways[unit_id].domains[item].bat_ipv6 }}
{% endif %}
	netmask		64
	post-up /sbin/ip rule add iif br-{{ hoods[item].sname }} table 42
	pre-down /sbin/ip rule del iif br-{{ hoods[item].sname }} table 42

# bat-{{ hoods[item].sname }}

allow-hotplug bat-{{ hoods[item].sname }}
iface bat-{{ hoods[item].sname }} inet6 manual

	pre-up modprobe batman-adv
{% for icnt in range(hoods[item].fastd_inst|int) %}
	post-up batctl -m bat-{{ hoods[item].sname }} if add vpn-{{ hoods[item].sname }}{{ icnt|int }}
{% endfor %}
{% if unit_type == "gateway" %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_id }}:0{{gateways[unit_id].domains[item].cnt }} dev bat-{{ hoods[item].sname }}
{% elif unit_type == "collector" %}
{% if gateways[unit_id].domains[item].cnt|int < 10 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0{{gateways[unit_id].domains[item].cnt }} dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 10 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0a dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 11 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0b dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 12 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0c dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 13 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0d dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 14 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0e dev bat-{{ hoods[item].sname }}
{% elif gateways[unit_id].domains[item].cnt|int == 15 %}
	post-up ip link set address {{ sites[hoods[item].site].hwadr_prefix }}{{ unit_hwext }}:0f dev bat-{{ hoods[item].sname }}
{% endif %}
{% endif %}
	post-up ip link set dev bat-{{ hoods[item].sname }} up
	post-up	brctl addif br-{{ hoods[item].sname }} bat-{{ hoods[item].sname }}
	post-up batctl -m bat-{{ hoods[item].sname }} it 10000
{% if unit_type == "gateway" %}
{% if gateways[unit_id].domains[item].cnt|int < 2 %}
	post-up batctl -m bat-{{ hoods[item].sname }} gw server 10000000/10000000
{% else %}
	post-up batctl -m bat-{{ hoods[item].sname }} gw server 50000/50000
{% endif %}
{% endif %}
	post-up batctl -m bat-{{ hoods[item].sname }} ra {{ batman_algo }}

	post-up ip rule add from all fwmark 0x1 table 42

	pre-down brctl delif br-{{ hoods[item].sname }} bat-{{ hoods[item].sname }} || true

{% endfor %}

