# Process packages from device {{ divert_if }}
ip46tables -A input -i {{ divert_if }} -j wan-input
ip46tables -A forward -i {{ divert_if }} -j wan-forward

{% if divert_if != base_if %}
ip46tables -A input -i {{ base_if }} -j wan-input
ip46tables -A forward -i {{ base_if }} -j wan-forward
{% endif %}
    
