# {{ ansible_managed }}

[Unit]
Description=respondd
After=network-online.target

[Service]
ExecStart=/opt/{{ site_code }}/respondd-announce/respondd.py -b bat-{{ site_code }} -i br-{{ site_code }} -d /opt/{{ site_code }}/respondd-announce/
Restart=always
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/opt/{{ site_code }}/respondd-announce

[Install]
WantedBy=multi-user.target
