# {{ ansible_managed }}

# option definitions common to all supported networks...
option domain-name "{{ sites[gateways[unit_id].site].domain }}";

default-lease-time 120;
max-lease-time 600;

# Use this to enble / disable dynamic dns updates globally.
ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
log-facility local7;


# Freifunk Nordheide
{% for item in gateways[unit_id].domains | dict2items %}
subnet {{ hoods[item.key].dhcp_range | ipaddr('network') }} netmask {{ hoods[item.key].dhcp_range | ipaddr('netmask') }} {
  option routers {{ item.value.bat_ipv4 | ipaddr('address') }};
  option domain-name-servers {{item.value.nextnode4}}, {{ item.value.bat_ipv4 | ipaddr('address') }};
  interface br-{{hoods[item.key].sname}};
  range {{ item.value.dhcp_first }} {{ item.value.dhcp_last }};
}

{% endfor %}
include "/etc/dhcp/static.conf";
