# {{ ansible_managed }}

server {
	listen 80 default_server;

	server_name {{ unit_id }}.gw.{{ sites[gateways[unit_id].site].domain }};
	include snippets/letsencrypt.conf;
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl http2;
	server_name {{ unit_id }}.gw.{{ sites[gateways[unit_id].site].domain }};

	ssl_certificate /etc/letsencrypt/live/{{ unit_id }}.gw.{{ sites[gateways[unit_id].site].domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ unit_id }}.gw.{{ sites[gateways[unit_id].site].domain }}/privkey.pem;
	ssl_trusted_certificate /etc/letsencrypt/live/{{ unit_id }}.gw.{{ sites[gateways[unit_id].site].domain }}/chain.pem;
	include snippets/ssl.conf;
	include snippets/letsencrypt.conf;

{% if unit_type == 'gateway' %}
	location / {
		root /var/www/html/yanic/;
		autoindex on;
                include snippets/cors.conf;
		try_files $uri $uri/ =404;
	}

	location /yanic {
		autoindex on;
		root /var/www/html/yanic/;
                include snippets/cors.conf;
		try_files $uri $uri/ =404;
	}

{% elif unit_type == 'mapserver' %}
	location / {
		root /var/www/html/meshviewer/build/;
                include snippets/cors.conf;
		try_files $uri $uri/ =404;
	}

	location /data {
		autoindex on;
		root /var/www/html/meshviewer/data/;
                include snippets/cors.conf;
		try_files $uri $uri/ =404;
	}
{% endif %}

}
