# {{ ansible_managed }}
{% for item in gateways[unit_id].domains | dict2items %}
interface br-{{ hoods[item.key].sname }} {
  AdvSendAdvert on;
  IgnoreIfMissing on;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  MaxRtrAdvInterval 200;
  AdvLinkMTU {{ (mtu | int) }};
  prefix {{ item.value.bat_ipv6 | ipaddr('address') | ipsubnet(64) }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
{% if gateways[unit_id].type == "gw" %}
  prefix {{ item.value.bat_ipv6_l | ipaddr('address') | ipsubnet(64) }} {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr on;
  };
{% endif %}
  RDNSS {{  item.value.bat_ipv6 | ipaddr('address')}} {
  };
};
{% endfor %}
