
$TTL 86400
$ORIGIN {{ hoods[item.key].sname }}.
;						primary-master admin-mail
@					IN	SOA	{{ sites[gateways[unit_id].site].domain }} kontakt.{{ sites[gateways[unit_id].site].domain }}. (
							{{ansible_date_time.epoch}} ; serial
							1h	; refresh
							15m	; retry
							1w	; expire
							1d)	; ttl
; Nameserver
{% for igw in gateways | dict2items %}
{% if igw.value.domains is defined and igw.value.domains[item.key] is defined %}
{% if igw.key | regex_search('^\d{2}$') %}
					IN	NS	{{ igw.key }}.gw
{% else %}
					IN	NS	{{ igw.key }}
{% endif %}
{% endif %}
{% endfor %}
; Hosts
{% for igw in gateways | dict2items %}
{% if igw.value.domains is defined and igw.value.domains[item.key] is defined %}
{% if igw.key | regex_search('^\d{2}$') %}
{{ igw.key }}.gw				86400	IN	A	{{ igw.value.domains[item.key].bat_ipv4  | ipaddr('address')}}
						AAAA	{{ igw.value.domains[item.key].bat_ipv6 }}
{% else %}
{{ igw.key }}				86400	IN	A	{{ igw.value.domains[item.key].bat_ipv4  | ipaddr('address')}}
						AAAA	{{ igw.value.domains[item.key].bat_ipv6 }}
{% endif %}
{% endif %}
{% endfor %}

; NTP Server
{% for igw in gateways | dict2items %}
{% if igw.value.domains is defined and igw.value.domains[item.key] is defined %}
{% if igw.key | regex_search('^\d{2}$') %}
{{ igw.key }}.gw				86400	IN	A	{{ igw.value.domains[item.key].bat_ipv4  | ipaddr('address') }}
						AAAA	{{ igw.value.domains[item.key].bat_ipv6 }}
{% else %}
{{ igw.key }}				86400	IN	A	{{ igw.value.domains[item.key].bat_ipv4  | ipaddr('address') }}
						AAAA	{{ igw.value.domains[item.key].bat_ipv6 }}

{% endif %}
{% endif %}
{% endfor %}
; Nextnode
node				86400	IN	A	{{ hoods[item.key].nextnode4 }}
						AAAA	{{ hoods[item.key].nextnode6 }}
						
local-node			86400	IN	CNAME node
localnode			86400	IN	CNAME node
next-node			86400	IN	CNAME node
nextnode			86400	IN	CNAME node


