# {{ ansible_managed }}

// Do any local configuration here
// Consider adding the 1918 zones here, if they are not used in your organization

include "/etc/bind/zones.rfc1918";

{% for item in gateways[unit_id].domains | dict2items %}
include "/etc/bind/zones/{{ hoods[item.key].sname }}/{{ hoods[item.key].sname }}.conf";
{% endfor %}



