# {{ ansible_managed }}

{
  hostname_prefix = 'Bitte ändere mich! ',
  site_name = '{{ sites[targetsite].name }}',
  site_code = '{{ sites[targetsite].sname }}',
  default_domain = '{{ hoods[targetdefault].sname }}',

  opkg = {
    lede = 'http://[fd8f:14c7:d318::ff15]/lede/snapshots/packages/%A',
    extra = {
      gluon = 'http://[fd8f:14c7:d318::ff15]/firmware/experimental/packages/gluon-%GS-%GR/%S',
    },
  },
 
  timezone = 'CET-1CEST,M3.5.0,M10.5.0/3', -- Europe/Berlin

  regdom = 'DE',
   
  config_mode = {
    hostname = {
      optional = false,
    },
    -- Show/hide the altitude field
    geo_location = {
      show_altitude = true,
    },
    -- define if the contact field is optional
    owner = {
      optional = false,
    },
    remote_login = {
      show_password_form = false,
      -- min_password_length = 12,
    },
  },
  
  wifi24 = {
    mesh = {
      mcast_rate = 12000,
    },
  },

  wifi5 = {
    mesh = {
      mcast_rate = 12000,
    },
  },

  mesh_vpn = {
    mtu = 1364,
    fastd = {
      methods = {'salsa2012+umac'},
    },
    bandwidth_limit = {
      enabled = false,
      egress = 200, -- kbit/s
      ingress = 3000, -- kbit/s
    },
  },

  autoupdater = {
    branch = 'stable',
    branches = {
      stable = {
        name = 'stable',
        mirrors = {
          'http://[fd8f:14c7:d318::ff15]/firmware/stable/sysupgrade',
          'http://0.update.ffnh/firmware/stable/sysupgrade',
          'http://update.freifunk-nordheide.de/firmware/stable/sysupgrade',
        },
        good_signatures = 2,
        pubkeys = {
          'd48a0f6ff1fda1d763e544679c4d4d89bd580787a9f8088b30cbe0b8e26ed93a', -- heini66
          '96b9b847a9b0ced4e6546f32a12abed20420a530bf502106a4961a9d2582f968', -- marc2cram
          '589695821488c9acd2efc26c2fdde259b25615cbfdbb6a434e95e33fa6932023', -- Tarnatos
          '9885f836464abf3633f92701e4febeefec54f481d8b6cd39085e6ad24162ff82', -- rubo77
        },
      },
      experimental = {
        name = 'experimental',
          mirrors = {
            'http://[fd8f:14c7:d318::ff15]/firmware/experimental/sysupgrade',
            'http://0.update.ffnh/firmware/experimental/sysupgrade',
            'http://update.freifunk-nordheide.de/firmware/experimental/sysupgrade',
          },
          good_signatures = 1,
          pubkeys = {
            '381137cadde6e9907da687a9b8f5322ac451168ebec7c800b304cdb3d1ba9b26', -- heini66
            '96b9b847a9b0ced4e6546f32a12abed20420a530bf502106a4961a9d2582f968', -- marc2cram
            '589695821488c9acd2efc26c2fdde259b25615cbfdbb6a434e95e33fa6932023', -- Tarnatos
            '9885f836464abf3633f92701e4febeefec54f481d8b6cd39085e6ad24162ff82', -- rubo77
          },
        },
      },
    },
  },
   
  ssid_changer = {
    enabled = true,
    switch_timeframe = 60,      -- only once every timeframe (in minutes) the SSID will change to OFFLINE 
                                -- set to 1440 to change once a day
                                -- set to 1 minute to change every time the router gets offline
    first = 5,                  -- the first few minutes directly after reboot within which an Offline-SSID always may be activated
    prefix = 'FF_Offline_',     -- use something short to leave space for the nodename (no '~' allowed!)
    suffix = 'nodename',        -- generate the SSID with either 'nodename', 'mac' or to use only the prefix: 'none'
       
    tq_limit_enabled = false,   -- if false, the offline SSID will only be set if there is no gateway reacheable
                                -- upper and lower limit to turn the offline_ssid on and off
                                -- in-between these two values the SSID will never be changed to prevent it from toggeling every minute.
    tq_limit_max = 55,          -- upper limit, above that the online SSID will be used
    tq_limit_min = 45,          -- lower limit, below that the offline SSID will be used
  },
}

